@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* importing an external fonts */

body {
    font-family: 'Roboto Condensed', sans-serif;
    /* 
        using the external font and loading it - if it won't load then the next font will be loaded etc... 
    */
    font-weight: 300 !important;
    /* margin: 0px; */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    /* 
        The text-shadow property adds shadow to text. default value is none.
        This property accepts a comma-separated list of shadows to be applied to the text. 
        Note: To add more than one shadow to the text, add a comma-separated list of shadows.
        The first value defines the position of the horizontal shadow (h-shadow) and is required.
        The second value defines the position of the vertical shadow (v-shadow).
        The third value defines the The blur radius (shadow's weight/spread). Default value is 0.
        The firth value defines the shadow's color. The more blur radius, the more it lightens the text and vice versa.

        Note: Negative values are allowed and the shadow will go to the opposed sides!
    */
    margin-top: 120px;
}

body h1 {
    font-weight: 300;
    margin: 20px 30px;
    z-index: 4; 
    /* 
        The z-index property specifies the stack order of an element.
        An element with greater stack order is always in front of an element with a lower stack order.
        Note: z-index only works on positioned elements (position: absolute, position: relative, position: fixed, or position: sticky) and flex items (elements that are direct children of display:flex elements).

        Note: If two positioned elements overlap without a z-index specified, the element positioned last in the HTML code will be shown on top.  

        The default z-index is auto (-1).
    */
    /* position: relative;*/
    position: absolute;
}

#main-header {
    border-bottom: 2px solid #000;
    /* position: fixed; */
    position: absolute;
    /*
        The position property specifies the type of positioning method used for an element (static, relative, absolute, fixed, or sticky):

        1. static is the default value. Elements render in order, as they appear in the document flow.
        
        2. absolute value means that the element is positioned relative to its first positioned (not static) ancestor element.

        3. fixed means that the element is positioned relative to the browser window (the viewport - it won't be moved when we scroll down in the page).
        
        4. relative	means that the element is positioned relative to its normal position, so "left:20px" adds 20 pixels to the element's LEFT position.

        5. sticky means that the element is positioned based on the user's scroll position
        A sticky element toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed).

        Note: Not supported in IE/Edge 15 or earlier. Supported in Safari from version 6.1 with a -webkit- prefix.	

        6. initial value sets this property to its default value.

        7. inherit means that the element inherits this property from its parent element. 

    */
    /* width: 100%; */
    width: 100vw; 
    /*
        vw units - Relative to 1% of the width of the viewport.
    */
    background: rgba(255, 255, 255, .9);
    top: 0px;
    left: 0px;
    /*
        The top property affects the vertical position of a positioned element. This property has no effect on non-positioned elements.

        top rules: 

        1. If position: absolute; or position: fixed; - the top property sets the top edge of an element to a unit above/below the top edge of its nearest positioned ancestor.
        2. If position: relative; - the top property makes the element's top edge to move above/below its normal position.
        3. If position: sticky; - the top property behaves like its position is relative when the element is inside the viewport, and like its position is fixed when it is outside.
        4. If position: static; - the top property has no effect.

        Note: Negative values are allowed!

        The bottom, left and right properties are very similar and the rules changes according to the sides (bottom - above/below, right/left - right/left.
    */
    height: 100px;
    /* height: 100%; */
    /* height: 100vh; */
    /*
        vh units - Relative to 1% of the height of the viewport.
    */
}

#site-title {
    font-family: 'Press Start 2P', sans-serif;
}

.my-input {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ddd;
    /* border-radius: 10px 20px 2px 50px; */
    border-radius: 20px
    /*
        The border-radius property defines the radius of the element's corners.

        Tip: This property allows you to add rounded corners to elements! 

        This property can have from one to four values. Here are the rules:

        1. Four values - border-radius: 15px 50px 30px 5px; (first value applies to top-left corner, second value applies to top-right corner, third value applies to bottom-right corner, and fourth value applies to bottom-left corner).

        2. Three values - border-radius: 15px 50px 30px; (first value applies to top-left corner, second value applies to top-right and bottom-left corners, and third value applies to bottom-right corner).

        3. Two values - border-radius: 15px 50px; (first value applies to top-left and bottom-right corners, and the second value applies to top-right and bottom-left corners).

        4. One value - border-radius: 15px; (the value applies to all four corners, which are rounded equally).

        Note: 
        For every corner we can set up to two values, which means that every value will set one edge of every corner. For example border-top-left-radius will define the top edge first, and then the left edge.
    */
}

.my-input:focus {
    /*
        The :focus selector is used to select the element that has focus.
        Tip: The :focus selector is allowed on elements that accept keyboard events or other user inputs.
    */
    background: #ffd700;
    color: #27dad1;
    outline: none;
    /*
        An outline is a line drawn outside the element's border to make the element "stand out".

        Notes: 
        1. Outline differs from borders! Unlike border, the outline is drawn outside the element's border, and may overlap other content. Also, the outline is NOT a part of the element's dimensions; the element's total width and height is not affected by the width of the outline.
        2. None of the other outline properties  will have ANY effect unless the outline-style property is set!
    */
    /* box-shadow: none; */
    border: transparent; 
    /* border: 1px solid #000 */
    /*
        The CSS transparent keyword can be used to make an HTML element transparent. For example, to set a transparent background.
        The transparent keyword can be used anywhere a color value is accepted. This allows you to set items to transparent, so that any background element will show through.
        For example, to set a transparent background, do this:

        background-color: transparent;
        Note that transparent is the initial value for the background-color property, so you often won't need to specify this. However, sometimes you do need to explicitly set background to transparent.
        For example, you will need to set an element to transparent if its background color is currently an opaque color (i.e. not transparent).

        The following code demonstrates what I mean:
        article { 
            background-color: beige;
            }
        article.glass { 
            background-color: transparent;
            }
        Doing this will make the background of all article elements beige. But if they've got the .glass class applied, their background will be transparent.
        border-color/border transparent helps in this case to cancel the outline, which for some reason didn't work properly by set it to none! 

        RGBA Equivalent:
        The transparent keyword is the equivalent of rgba(0,0,0,0) which is its computed value.
        So you can also use rgba(0,0,0,0) to achieve the same effect.

        History of the transparent Keyword:
        The transparent keyword was first introduced in CSS1. However, CSS1 allowed it to be used for the background-color property only.
        CSS2 allowed it to also be used on the border-color property.
        CSS3 extended it further to allow the transparent keyword to be used with all properties that accept a color value.
    */
}

#top-stories {
    width: 1000px;
    margin: auto;
    /*
        A modern web design method includes defining a width and margin auto 
        in order to center the content of the element with the wanted width.
    */
    margin-top: 20px;
}

article {
    width: 301px;
    height: 400px;
    /* max-width: 31%; */
    /*
        The max-width property defines the maximum width of an element. If the content is larger than the maximum width, it will automatically change the height of the element. If the content is smaller than the maximum width, the max-width property has no effect. In addition it is a good practice to use it in order to design responsive websites when a baseline width is defined.

        Note: This prevents the value of the width property from becoming larger than max-width. The value of the max-width property overrides the width property.
    */
    display: inline-block;
    border: 1px solid #000;
    padding: 10px;
    margin: 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
    /* 
        The box-shadow property attaches one or more shadows to an element. 
        The first value defines the position of the horizontal shadow (h-offset) and is required.
        The second value defines the position of the vertical shadow (v-offset).
        The third value defines the The blur radius (shadow's weight - blur). Default value is 0.
        The firth value defines the shadow's density (spread) - The spread radius. A positive value increases the size of the shadow, a negative value decreases the size of the shadow.
        The fifth value defines the shadow's color. The more blur radius, the more it lightens the text and vice versa.

        Note: Negative values are allowed and the shadow will go to the opposed sides!
    */
    /* background-color: #ff0; */
    /* transition: all 1s;  */
    transition: box-shadow 500ms, background 3s;
    /* 
        The transition property is a shorthand property for:

        1. transition-property
        2. transition-duration
        3. transition-timing-function
        4. transition-delay

        Note: Always specify the transition-duration property, otherwise the duration is 0s, and the transition will have no effect. 

        Default value:	all 0s ease 0s

         The transition properties:
        
        1. transition-property specifies the name of the CSS property the transition effect is for.
        2. transition-duration specifies how many seconds or milliseconds the transition effect takes to complete.
        3. transition-timing-function specifies the speed curve of the transition effect.
        4. transition-delay	Defines when the transition effect will start.
        5. initial value sets this property to its default value.
        6. inherit Inherits this property from its parent element. 
    */
    /* transition-delay: 5s; */
    /* transition-timing-function:cubic-bezier(0.6, -0.28, 0.735, 0.045); */
}

article:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .7);
    background: #aaa;
}

article:active {
    /* 
        The :active selector is used to select and style the active link.
        A link becomes active when you click on it.

        Tips: 
        1. The :active selector can be used on all elements, not only links and works when we click on them with the mouse cursor.
        2. Use the :link selector to style links to unvisited pages, the :visited selector to style links to visited pages, and the :hover selector to style links when you mouse over them.

        Note: :active MUST come after :hover (if present) in the CSS definition in order to be effective! 
    */
    opacity: .4;
}

#dog-article {
    /* background-image: url("./Aticles_Site_Images/IMG01_Dog/Malinois-dog1.jpg"); */
    /*  
        background-image property sets one or more background images for an element. By default, a background-image is placed at the top-left corner of an element, and repeated both vertically and horizontally.

        Note: Two main uses of this propertyare setting a gradient or using a url.

        Tips: 
        1. The background of an element is the total size of the element, including padding and border (but not the margin).
        2. Always set a background-color to be used if the image is unavailable.
    */
    content: url("./Articles_Site_Images/IMG01_Dog/Malinois-dog1.jpg");
    /* 
        The content property is used with the ::before and ::after pseudo-elements, to insert generated content such as string, url etc... more information is in the following website: 
        https://www.w3schools.com/cssref/pr_gen_content.asp 
    */
}

#chocolate-article {
    /* background-image: url("./Aticles_Site_Images/IMG02_Chocolate_Bar_In_Space/Branding learning 8 social media.jpg"); */
    content: url("./Articles_Site_Images/IMG02_Chocolate_Bar_In_Space/Branding learning 8 social media.jpg");
}

#html-article {
    /* background-image: url("./Aticles_Site_Images/IMG03_HTML5/1200px-HTML5_logo_and_wordmark.svg.png"); */
    content: url("./Articles_Site_Images/IMG03_HTML5/1200px-HTML5_logo_and_wordmark.svg.png");
    /* background-color: #0f0; */
    /*
        Important Note: background-color property effects on png image file types, but not on other image file types!
    */
}


article img {
    width: 100%;
    height: 50%;
    /* border-top-left-radius: 100px 50px; */
    /* border-radius: 100%; */
} 

/* .article-image {
    width: 100%;
    height: 200px;
    background-size: cover !important;
    // 
        background-size property specifies the size of the background images. There are four different syntaxes you can use with this property: 
        1. The keyword syntax ("auto", "cover" and "contain")
        2. The one-value syntax (sets the width of the image (height becomes "auto")
        3. The two-value syntax (first value: width of the image, second value: height) 
        4. the multiple background syntax (separated with comma).
    //
    background-repeat: no-repeat;
    //
        background-repeat property sets if/how a background image will be repeated. By default, a background-image is repeated both vertically and horizontally.

        Tip: The background image is placed according to the background-position property. If no background-position is specified, the image is always placed at the element's top left corner.
    //
    background-position: center !important;
    //
        background-position property sets the starting position of a background image.

        Tip: By default, a background-image is placed at the top-left corner of an element, and repeated both vertically and horizontally.
    //
} */

.my-text {
    height: 600px;
    max-height: 200px;
    border: 2px solid #000;
    /* overflow: hidden; */
    overflow: scroll;
    /* overflow: visible; */
    /*
        The overflow property specifies what should happen if content overflows an element's box.
        This property specifies whether to clip content or to add scrollbars when an element's content is too big to fit in a specified area.

        Note: The overflow property only works for block elements with a specified height.
        visible value is the default.
    */
    overflow-x: hidden;
    /*
        The overflow-x property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the left and right edges.

        The overflow-y property specifies whether to clip the content, add a scroll bar, or display overflow content of a block-level element, when it overflows at the top and bottom edges.
    */
}
p {
    letter-spacing: 2px;
    /* 
        The letter-spacing property increases or decreases the space between characters in a text.
        We can also set negative values (which is usually not possible) in order to make the letters get closer than the default value (normal - which means 0 length).  

        Note: A very big or small space could ruin the web design! Furthermore a very small space will make the text to be very messed and written backwords! So We should avoid doing these!
    */
    word-spacing: 2px;
    /* 
        The word-spacing property increases or decreases the white space between words.
        We can also set negative values (which is usually not possible) in order to make the letters get closer than the default value (normal - which means 0 length).  

        Note: A very big or small space could ruin the web design! Furthermore a very small space will make the text to be very messed and written backwords! So We should avoid doing these!  
    */
    /* text-indent: 20px; */
    /* 
        The text-indent property specifies the indentation of the first line in a text-block.

        Note: Negative values are allowed. The first line will be indented to the left if the value is negative. 
    */
    /* text-align: center; */
    /* 
        The text-align property specifies the horizontal alignment of text in an element (left is the default state.
    */
}

a {
    text-decoration: none;
    /*
        The text-decoration property specifies the decoration added to text, and is a shorthand property for:

        1. text-decoration-line (required)
        2. text-decoration-color
        3. text-decoration-style

        Default value: underlined currentColor solid auto

        If we don't want to show the decoration we will set it to none (or blink).
        If we want the line decoration to be in the middle we will set the value to line-through, and if we want it over the text we will set it to overline.

        We can also set multiple line decorations and add another style
    */
}

a:hover, a.more-link.bolded-link:hover {
    /*
        The :hover selector is used to select elements when you mouse over them.

        Tips: 
        1. The :hover selector can be used on all elements, not only on links.
        2. Use the :link selector to style links to unvisited pages, the :visited selector to style links to visited pages, and the :active selector to style the active link.

        Note: :hover MUST come after :link and :visited (if they are present) in the CSS definition, in order to be effective!
    */
    color: #8f8; 
    /* 
        The a with the red color belongs to more than one class and their hover style is more specific and wasn't defined (actually with default none)- That's why we can use !important here or just add the a element with the specific classes as above! we will use !importan as least as we can!
    */
}

.more-link {
    font-style: italic;
    /* 
        The font-style property specifies the font style for a text such as normal, italic, oblique, initial, inherit etc.. 
    */
}

.bolded-link {
    font-weight: 700;
}

/* using more than one class in order to set a rule for elements which belong to all of the classes (two or more withoutspaces). */
.more-link.bolded-link {
    color: #f00;
}

footer {
    margin-top: 20px;
    text-align: center;
    /* position: relative;
    top: 220px; */
}